.header {
    background: linear-gradient(to right, #96efc0 5%, #73baff);
    font-family: Roboto, sans-serif;
    height: 60px;
}

.header__content {
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;

    padding-top: 15px;
}

.header__logo {
    width: 122px;
    height: 26px;
    background-image: url("images/logo.png");
}