.task {
    max-width: 1050px;
    width: 96%;
    margin-bottom: 10px;

    display: flex;
    align-items: center;

    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
}

.task:last-child {
    margin-bottom: 0;
}

.task:hover {
    font-weight: bold;
    box-shadow: 1px 2px 3px 2px #c0eee0;
}

.task__progress {
    margin-left: 10px;
}

.task__title {
    max-width: 1050px;
    width: 90%;

    font-size: 18px;
    font-weight: 500;
    color: #303030;

    margin: 0;
    padding: 20px 10px 15px;
}

.task__tools {
    display: flex;
    flex-direction: row;
}

.task__edit + .task__delete {
    margin-right: 20px;
}

.task__delete {
    margin-left: 20px;
}