.task {
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
}

.task:last-child {
    margin-bottom: 0;
}

.task__title {
    font-size: 18px;
    font-weight: 500;
    color: #303030;

    margin: 0;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 36px;
}

.task:hover {
    box-shadow: 1px 2px 3px 2px #c0eee0;
}

.task__edit {
    float: right;
    margin-top: -35px;
    margin-right: 55px;
}

.task__delete {
    float: right;
    margin-top: -35px;
    margin-right: 22px;
}

.task:hover .delete {
    visibility: visible;
}

.delete {
    visibility: hidden;
    cursor: pointer;
    height: 14px;
    width: 11px;
    background: url('./images/tool_sprites.png') -5px -29px;
}

.delete:hover {
    background: url('./images/tool_sprites.png') -26px -29px;
}

.task:hover .edit {
    visibility: visible;
}

.edit {
    visibility: hidden;
    cursor: pointer;
    height: 14px;
    width: 15px;
    background: url('./images/tool_sprites.png') -5px -5px;
}

.edit:hover {
    width: 14px;
    margin-right: 56px;
    background: url('./images/tool_sprites.png') -30px -5px;
}

.task__mark {
    float: left;
    margin-top: 24px;
    margin-left: 10px;
}

.checkbox {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: url('./images/button_sprites.png') -5px -5px;
}

.checkbox:hover {
    content: '';
    background: url('./images/button_sprites.png') -29px -5px;
}

.done-mark {
    width: 16px;
    height: 12px;
    background: url("./images/done_task_gray.png");
}