.article {
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
}

.article:last-child {
    margin-bottom: 0;
}

.article__title {
    font-size: 18px;
    font-weight: 500;
    color: #303030;

    margin: 0;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 36px;
}

.article:hover {
    box-shadow: 1px 2px 3px 2px #c0eee0;
}

.article__edit {
    float: right;
    margin-top: -35px;
    margin-right: 55px;
}

.article__delete {
    float: right;
    margin-top: -35px;
    margin-right: 22px;
}

.article:hover .delete {
    visibility: visible;
}

.delete {
    visibility: hidden;
    cursor: pointer;
    height: 14px;
    width: 11px;
    background: url('./images/tool_sprites.png') -5px -29px;
}

.delete:hover {
    background: url('./images/tool_sprites.png') -26px -29px;
}

.article:hover .edit {
    visibility: visible;
}

.edit {
    visibility: hidden;
    cursor: pointer;
    height: 14px;
    width: 15px;
    background: url('./images/tool_sprites.png') -5px -5px;
}

.edit:hover {
    width: 14px;
    margin-right: 56px;
    background: url('./images/tool_sprites.png') -30px -5px;
}