.main__content {
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 26px;
    background-color: #fff;
}

.main__form {
    max-width: 540px;
    width: 90%;
    margin-bottom: 15px;
}

.main__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}