.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    width: 90%;
    max-width: 1220px;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
}

.main__side-bar {
    box-sizing: border-box;
    padding: 26px 0 0;
    justify-self: stretch;
}

.main__content {
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 26px;
    background-color: #fff;
}
