.form__create {
    border: none;
    cursor: pointer;
    width: 130px;
    height: 30px;
    border-radius: 15px;

    font-size: 15px;
    color: white;
    text-align: center;
    background: #50d5ad url("./images/create-btn-icon.png") no-repeat 15% center;
    box-shadow: 0 1px 4px 1px #c0eee0;
}

.form__create:disabled {
    content: '';
    background-color: #bdbdbd;
    box-shadow: none;
}