.side-bar {
    max-width: 150px;
    width: 90%;
}

.nav-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.nav-menu__list {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;

    max-width: 125px;
    width: 90%;
}

.nav-menu__item {
    margin-bottom: 30px;
}

.nav-menu__item:last-child {
    padding-bottom: 0;
}

.nav-menu__link {
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #979797;
}

.nav-menu__link_active {
    color: #78c2f5;
}

.nav-menu__link_todo {
    padding-left: 26px;
    cursor: pointer;
    background: url("images/todo_gray.png") no-repeat;
    /*width: 20px; height: 20px;*/
    /*background: url('./images/header_sprites.png') -35px -5px no-repeat;*/
}

.nav-menu__link_done {
    padding-left: 26px;
    cursor: pointer;
    background: url("images/done_gray.png") no-repeat;
    /*width: 20px; height: 20px;*/
    /*background: url('./images/header_sprites.png') -5px -5px no-repeat;*/
}

.nav-menu__link_todo.nav-menu__link_active {
    font-weight: 500;
    background: url("./images/todo_blue.png") no-repeat;
    /*width: 20px; height: 20px;*/
    /*background: url('css_sprites.png') -35px -35px;*/
}

.nav-menu__link_done.nav-menu__link_active {
    font-weight: 500;
    background: url("./images/done_blue.png") no-repeat;
    /*width: 20px; height: 20px;*/
    /*background: url('css_sprites.png') -5px -35px;*/
}
