.empty-done-list::after {
    content: '';
    bottom: 0;
    position: fixed;

    width: 100%;
    height: 186px;
    background: url("./images/background-task-page.svg") no-repeat 25%;
}

.empty-done-list__suggest {
    margin-top: 190px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.suggest {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.suggest__text {
    display: block;
    margin: 5px 0 0 0;

    color: #626262;
    font-size: 13px;
    font-weight: bold;
}