.sign-up-form {
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-form__site-logo {
    margin-bottom: 10px;
}

.sign-up-form__button {
    width: 300px;
    height: 40px;
}

.sign-up-form__checkbox {
    width: 12px;
    height: 12px;
}

.sign-up-form__agreement {
    height: 55px;
    width: 300px;
}

.agreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.agreement__button {
    margin-left: 0;
    margin-right: 10px;
    /*width: 12px;*/
    /*height: 12px;*/
    /*appearance: none;*/
    /*border: 2px solid #bdbdbd;*/
}

.agreement__title {
    color: #bdbdbd;
    font-size: 12px;
}

.agreement__button:checked + .agreement__title {
    content: '';
    color: #353535;
}